# ignore build artifacts and other files
Cargo.toml.lock
Cargo.lock
target/

# ignore Rust formatting configuration
rustfmt.toml

# ignore project-specific build artifacts
*.o
*.obj
*.exe
bd_sim.o
bd_sim.obj
bd_sim.exe